@import './reset.scss';
@import './variables.scss';
@import './mixins.scss';

// GLOBAL
body {
  font-family: $fontsText;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 1.3rem;
}

h3 {
  font-size: 1.13rem;
  font-weight: 700;
  color: #000000;
}

a {
  text-decoration: none;
}

a:active {
  color: #000000;
}

.menu-bg {
  background: #F6F6F6;
}

// BUTTON
.btn {
  font-size: 1rem;
  font-weight: 700;
  background: $linearGradient;
  color: #fff;
  padding: 1rem 1.3rem;
  display: inline-block;
  border-radius: 25px;
  box-shadow: $boxShadow;
  transition: .5s;

  &:hover {
    opacity: .8;
    box-shadow: 0px 6px 20px 1px black;
  }

  &__wrapper {
    text-align: center;
  }
}

.btn--large {
  padding: 1rem 3rem;
}

// ICON HEART 
.heart {
  &__wrapper {
    position: relative;
    font-size: 1.5rem;
    padding-top: 0.3rem;

    &:hover .heart__full {
      opacity: 1;
    }
  }

  &__icon {
    position: absolute;
    right: 0;
    cursor: pointer;
    color: #000000;
  }
  
  &__full {
    background: $linearGradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    opacity: 0;
    transition: .5s;

  }
}

// LOADER
.loader {
  @include flexCenter;
  background: rgba(215, 215, 215, 0.817);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  animation: loading .01s forwards 2s;

  &__title {
    font-family: $fontsLogoTitle;
    font-size: 3rem;
  }

  &__spinning {
  border : 1rem solid $colorPrimary;
  border-top : 1rem solid $colorTertiary;
  border-bottom : 1rem solid $colorSecondary;
  border-radius : 50%;
  animation: rotation 2s infinite linear;
  }
}

// HEADER
.header {
  @include flexCenter;
  height: 4rem;
  position: relative;
  box-shadow: $boxShadow;

  &__wrapper {
    width: 165px;
    padding-top: .8rem;
  }
  // arrow menu
  &__back {
    position: absolute;
    left: 6%;
    top: 23px;
    font-size: 1.2rem;
  }

  &__link {
    color: black;
  }
}

// FOOTER
.footer {
  background: #353535;
  &__nav {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 1.4rem 1.5rem 1.8rem;
  }
  
  &__logo {
    font-family: $fontsLogoTitle;
    font-size: 1.13rem;
    color: #fff;
    margin-bottom: .85rem;
  }
  
  &__link {
    color: #fff;
    margin-bottom: .35rem;
  }

  &__icon {
    // padding-right: .75rem;
    font-size: .85rem;
    width: 1.5rem;
    display: inline-block;
  }
}

// LOCATION
.location {
  @include flexCenter;
  background-color: #EAEAEA;
  height: 3rem;
  padding-right: .8rem;

  &__city {
    padding: 0 1rem;
    color: #353535;
  }
}

// EXPLORE
.explore {
  padding: 2.5rem 0 3.5rem;
  background-color: #F6F6F6;

  &__container {
    text-align: center;
    padding-left: .5rem;
  }
  
  &__title-wrapper {
    padding-right: 1.5rem;
    max-width: 280px;
    margin: 0 auto;
    padding-bottom: .8rem;
  }

  &__subtitle {
    font-size: 1.1rem;
    padding-bottom: 2rem;
    font-weight: lighter;
  }
}

.fonctionnement {

  &__container {
    padding: 3rem 0rem;
  }

  &__list {
    padding: 1.8rem 1.3rem 0 2rem;
  }

  &__item {
    position: relative;
    background: #F6F6F6;
    padding: 1.8rem 0rem 1.3rem 2.2rem;
    display: flex;
    gap: 1.2rem;
    margin-bottom: 1.5rem;
    border-radius: 20px;
    box-shadow: $boxShadow;
    font-weight: 500;

    &:hover {
      background: #F5EDFF;
    }
    &:hover .fonctionnement__icon {
      color: $colorPrimary;
    }
  }

  &__item:nth-child(1)::before {
    @include circleNumber('1')
  }

  &__item:nth-child(2)::before {
    @include circleNumber('2')
  }

  &__item:nth-child(3)::before {
    @include circleNumber('3')
  }

  &__icon {
    font-size: 1.2rem;
    display: inline-block;
    width: 20px;
    color: #7E7E7E;
  }
}

// RESTAURANT
.restaurant {

  &__container {
    padding: 3.2rem 0rem 2.7rem;
  }

  &__card-list {
    padding: 1.4rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

// card
.card {
  box-shadow: $boxShadow;
  border-radius: 1rem;
  overflow: hidden;

  &__figure {
    position: relative;
    height: 10.8rem;
    overflow: hidden;
  }

  &__new {
    @include flexCenter;
    position: absolute;
    top: 13px;
    right: 12px;
    z-index: 1;
    background: $colorTertiary;
    color: #1E997A;
    height: 29px;
    font-weight: 700;
    font-size: .9rem;
    padding: 0rem 0.7rem;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__description {
    @include flexBetween;
    padding: 1rem 1.5rem 1rem 0.8rem;
  }

  &__location {
    display: block;
    padding-top: .4rem;
    font-size: 1.05rem;
    color: #000000;
  }
}

// OTHER PAGE
// MENU
.dish {
  &__figure {
    position: relative;
    height: 253px;
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// MENU
.menu {
  background: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 2rem;
  transform: translateY(-35px);

  &__title-wrapper {
    @include flexBetween;
    padding: 0 2.3rem 1.8rem 1.2rem;
  }

  &__title {
    font-family: $fontsLogoTitle;
    font-size: 1.75rem;
    padding: initial;
  }
}

.menu-card {
  padding: 0px 0.7rem 2rem 0.9rem;
  
  &__heading {
    position: relative;
    font-weight: 300;
    font-size: 1rem;
    margin-left: .4rem;
    padding-bottom: .5rem;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 40px;
      height: 3px;
      background: $colorTertiary;
    }
  }
  
  &__list {
    display: flex;
    flex-direction: column;
    gap: .65rem;
    padding-top: .9rem;
  }
  
  &__item {
    position: relative;
    @include flexBetween;
    align-items: flex-end;
    background: #fff;
    padding: 0.9rem 1.5rem 0.9rem 0.7rem;
    border-radius: 15px;
    box-shadow: $boxShadow;
    overflow: hidden;
  }

  &__description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
  }

  &__break-line {
    display: block;
  }
  
  &__title {
    font-size: 1.11rem;
    font-weight: 700;
    padding-bottom: 0.2rem;
    text-overflow: ellipsis;  
    overflow: hidden;
  }

  &__ingredients {
    font-size: 0.92rem;
  }

  &__price {
    font-size: .85rem;
    font-weight: 700;
    transition: .5s;
    padding-left: 1rem
  }

   &__check {
     @include flexCenter;
     position: absolute;
     top: 0;
     right: -5rem;
     background: $colorTertiary;
     color: #fff;
     width: 60px;
     height: 100%;
     font-size: 1.4rem;
     transition: .7s;
   }

   &__circle {
    transition: .7s ease-in-out;
  }

  &__item:hover .menu-card__price {
    margin-right: 60px;
  }
  &__item:hover .menu-card__check {
    right: 0;
  }
  &__item:hover .menu-card__circle {
    transform: rotate(360deg);
  }
}

// FADE IN
.fadeIn1 {
  @include animateFade(.3s);
}

.fadeIn2 {
  @include animateFade(.5s);
}

.fadeIn3 {
  @include animateFade(.7s);
}

.fadeIn4 {
  @include animateFade(.9s);
}

// KEYFRAMES
@keyframes rotation {
  from {
     transform: rotate(0deg);
  }
  to {
     transform: rotate(360deg);
  }
}

  @keyframes loading {
    100% {
      opacity: 0;
      z-index: -10;   
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(40%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  
// MEDIA QUERIES
@import './mediaqueries.scss';
